<!doctype html>
<html lang="ja">
<title>{% block title %}{% endblock %} - 図書管理システム</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">図書管理システム</a></h1>
  <ul>
    <li><a href="{{ url_for('books.index') }}">書籍一覧</a>
    <li><a href="{{ url_for('loans.index') }}">貸出管理</a>
      {% if g.user %}
    <li><span>{{ g.user['username'] }}</span>
    <li><a href="{{ url_for('auth.logout') }}">ログアウト</a>
      {% else %}
    <li><a href="{{ url_for('auth.login') }}">ログイン</a>
      {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>